$break-small: 320px;
$break-tablet: 640px;

.popular {
    margin-bottom: 30px;

    .popular-header {
        margin: 4% 0;
    }
    @media screen and (min-width: $break-small) {
        .popular-docs {
            overflow: hidden;

            .popular-article {
                width: auto;
                float: none;
                margin-right: 0;
                height: 39px;
                overflow: hidden;
                padding: 20px 0;
            }
        }
    }
    @media screen and (min-width: $break-tablet) {
        .popular-docs {
            .popular-article {
                width: 47.5%;
                float: left;
                margin-right: 5%;
                height: 73px;
            }
            :nth-child(even) {
                margin-right: 0;
            }
        }
    }
}
