.search-page {
    position: relative;

    .wk-layout-centered-large {
        width: 100%;
    }
}

@media screen and (max-width: 1450px) {
    .search-page {
        display: flex;
        flex-direction: column;
    }
}
