.search-page {
    position: relative;
    .filter-wrapper {
        width: 170px;
        position: absolute;
        left: 0;
    }
}

@media screen and (max-width: 1450px) {
    .search-page {
        display: flex;
        flex-direction: column;
        .filter-wrapper {
            max-width: 65rem;
            width: 100%;
            margin: 0 auto;
            position: static;
        }
    }
}
