.search-page {
    position: relative;
    @include breakpoint($wk-target-max-desktop) {
        display: flex;
        flex-direction: column;
    }
    .wk-layout-centered-large {
        width: 100%;
    }
}
