.wk-search {
  display: flex;

  .wk-search-container {
    width: 100%;

    @include breakpoint($wk-target-max-desktop) {
      .wk-field-icon-button {
        height: 80%;
      }
    }
  }

  .wk-search-submit {
    width: auto;
  }
}
