.search-nav {
    margin-top: 15px;
    .page-button {
        margin: 0 5px;
    }
    .page-button:first-of-type {
        margin-left: 0;
    }
    .button__active {
        background-color: green;
    }
}
