.filter {
    max-width: 200px;
    padding: 0 20px;
    margin: 0 auto;
    list-style: none;
    .filter-item {
        padding: 6px 8px 6px 16px;
        border: 1px solid black;
        border-bottom: none;

        &:last-child {
            border-bottom: 1px solid black;
        }
    }

}
