.none {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}
.app {    
    padding: 0;

    .content-view {
        width: 80%;
        margin: 0 auto;
        min-height: calc(100vh - 80px);
        
    }
}
