.page-footer {
    text-align: center;

    .footer-copyright {
        height: 30px;
        background-color: gray;
    }
    .footer-container {
        height: 20px;
        background-color: darkgrey;
    }
}
