.header {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: $wk-header-background-color;
    .menu-toggler {
        width: 50px;
        height: 50px;
        float: right;
        margin-right: 10px;
        background-color: transparent;
        border: thin solid rgb(40, 40, 40);
        border-radius: 2px;
    }
  .logo-language-section {
    display: flex;
    flex-direction: column;

    .logo {
      margin: 10px 0;
    }
  }
}
